@font-face {
    font-family: 'Figtree';
    font-weight: 800;
    src: url('./assets/Figtree-ExtraBold.ttf');
}

@font-face {
    font-family: 'Figtree';
    font-weight: 500;
    src: url('./assets/Figtree-Medium.ttf');
}

body {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Figtree, sans-serif;
    height: 100vh;
    
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: space-between;
    /* flex-grow: 1; */
    width: 384px;
    /* height: 522px; */
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;   
    box-shadow: 8px 8px rgba(0, 0, 0, 1);
}

.card img {
    margin-bottom: 20px;
    border-radius: 10px;
}

.category {
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    background-color: hsl(47, 88%, 63%);
    width: 82px;
    height: 29px;
    display: flex;    
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.category p {
    margin: 0;
}

.publish-date {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 12px;
    margin-top: 0px;
}

.title {
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    margin-top: 0px;
    margin-bottom: 12px;
}

.description {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-top: 0px;
}

.attribution {
    font-size: 11px;
    /* margin-top: auto; */
    text-align: center;
    display: absolute;
    bottom: 10px
}

.card-footer {
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
}

.card-footer img {
    height: 32px;
    margin: 0 12px 0 0;
}

@media only screen and (max-width: 375px) {
    .card {
        width: 327px;
    }
}